<div class="container">
    <div class="row">
        <div class="card col-3 m-3" *ngFor="let product of products">
            <img class="card-img-top" src="../../assets/tpty.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">{{ product }}</h4>
              <p class="card-text">Some example text some example text.</p>
              <a href="#" class="btn btn-primary">Add To cart</a>
            </div>
          </div>
    </div>
</div>

